In [1]:
import pandas as pd

df = pd.read_csv('Project3_Dataset.csv')

In [2]:
df.head(3)

,job_id,date,job_title,experience_level,city,remote_option,company_size,gender,skills_required,salary_million_tmn
0,16d869d5-0bb2-4c6d-bac3-25d00a94c7d8,1403-11-22,DevOps Engineer,Junior,Tehran,False,Medium,Male,"['CI/CD', 'Linux Administration', 'Monitoring ...",22.49
1,c12e7ca2-cfae-4eeb-9091-09d5c6c2d655,1403-02-27,Data Analyst,Expert,Isfahan,False,Small,Male,"['Excel', 'Presentation', 'Data Analysis']",64.01
2,9d52e7a2-8ac9-43b2-83b2-8c25e301589f,1403-01-13,Data Analyst,Mid-level,Kashan,False,Small,Male,"['Excel', 'Presentation', 'PowerBI']",30.98

In [3]:
df.city.unique()

array(['Tehran', 'Isfahan', 'Kashan', 'Kerman', 'Mashhad', 'Zanjan',
       'Shiraz', 'Sari', 'Khorramabad', 'Rasht', 'Ahvaz', 'Babol',
       'Qazvin', 'Sabzevar', 'Arak', 'Karaj', 'Ardabil', 'Qom', 'Zahedan',
       'Neyshabur', 'Tabriz', 'Urmia', 'Amol', 'Gorgan', 'Bushehr',
       'Dezful', 'Semnan', 'Hamadan', 'Bojnurd', 'Shahrekord', 'Yazd',
       'Yasuj', 'Birjand', 'Abadan', 'Sanandaj', 'Kermanshah', 'Ilam',
       'Bandar Abbas', 'Mashhad*-', 'Sanandaj*/', 'Tehran*', 'Urmia/',
       'Karaj+', 'Gorgan*/', 'Tehran9+', 'Shiraz+-'], dtype=object)

In [4]:
import re

def clean_city(city):
    # Remove any character that is not a letter (Persian or English) or space
    return re.sub(r'[^a-zA-Zآ-ی\s]', '', str(city))

df['city'] = df['city'].apply(clean_city)

In [5]:
df.city.unique()

array(['Tehran', 'Isfahan', 'Kashan', 'Kerman', 'Mashhad', 'Zanjan',
       'Shiraz', 'Sari', 'Khorramabad', 'Rasht', 'Ahvaz', 'Babol',
       'Qazvin', 'Sabzevar', 'Arak', 'Karaj', 'Ardabil', 'Qom', 'Zahedan',
       'Neyshabur', 'Tabriz', 'Urmia', 'Amol', 'Gorgan', 'Bushehr',
       'Dezful', 'Semnan', 'Hamadan', 'Bojnurd', 'Shahrekord', 'Yazd',
       'Yasuj', 'Birjand', 'Abadan', 'Sanandaj', 'Kermanshah', 'Ilam',
       'Bandar Abbas'], dtype=object)

In [6]:
df.experience_level.unique()

array(['Junior', 'Expert', 'Mid-level', 'Senior', 'Intern', 'Lead',
       'Mid-level/*', 'Mid-level+/*'], dtype=object)

In [7]:
def clean_experience_level(level):
    # Remove any character that is not a letter (Persian or English) or space
    return re.sub(r'[^a-zA-Zآ-ی\s]', '', str(level))

df['experience_level'] = df['experience_level'].apply(clean_experience_level)

In [8]:
df.experience_level.unique()

array(['Junior', 'Expert', 'Midlevel', 'Senior', 'Intern', 'Lead'],
      dtype=object)

In [9]:
# Get the unique values of the first part (year) of the 'date' column
print(df['date'].apply(lambda x: str(x).split('-')[0] if '-' in str(x) else None).unique())

['1403' '1404' '1704' '1803']

In [10]:
def fix_year(date_str):
    # Assumes date_str is in 'YYYY-MM-DD' format
    parts = str(date_str).split('-')
    if len(parts) == 3:
        year, month, day = parts
        if year == '1704':
            year = '1404'
        elif year == '1803':
            year = '1403'
        return f"{year}-{month}-{day}"
    return date_str

df['date'] = df['date'].apply(fix_year)

In [11]:
# Get the unique values of the first part (year) of the 'date' column
print(df['date'].apply(lambda x: str(x).split('-')[0] if '-' in str(x) else None).unique())

['1403' '1404']

In [12]:
def fix_month(date_str):
    # Assumes date_str is in 'YYYY-MM-DD' format
    parts = str(date_str).split('-')
    if len(parts) == 3:
        year, month, day = parts
        try:
            month_int = int(month)
            # Change '00' to '01'
            if month == '00':
                month = '01'
            elif month_int > 12:
                month = '12'
            # Ensure month and day are always two digits
            return f"{year}-{month.zfill(2)}-{day.zfill(2)}"
        except ValueError:
            return date_str
    return date_str
df['date'] = df['date'].apply(fix_month)

In [13]:
print(df['date'].apply(lambda x: str(x).split('-')[1] if '-' in str(x) else None).unique())
print(len(df['date'].apply(lambda x: str(x).split('-')[1] if '-' in str(x) else None).unique()))

['11' '02' '01' '05' '04' '03' '12' '10' '09' '07' '08' '06']
12

In [14]:
# Get the unique values of the last part (day) of the 'date' column
print(df['date'].apply(lambda x: str(x).split('-')[2] if '-' in str(x) and len(str(x).split('-')) == 3 else None).unique())
print(len(df['date'].apply(lambda x: str(x).split('-')[2] if '-' in str(x) and len(str(x).split('-')) == 3 else None).unique()))

['22' '27' '13' '14' '17' '02' '10' '12' '11' '29' '04' '01' '16' '19'
 '03' '09' '24' '20' '26' '18' '23' '25' '06' '08' '40' '07' '28' '31'
 '05' '30' '21' '15' '54' '325' '47' '42' '58']
37

In [15]:
def fix_day(date_str):
    # Assumes date_str is in 'YYYY-MM-DD' format
    parts = str(date_str).split('-')
    if len(parts) == 3:
        year, month, day = parts
        try:
            month_int = int(month)
            day_int = int(day)
            if 1 <= month_int <= 6:
                if day_int > 31:
                    day = '31'
            elif 7 <= month_int <= 12:
                if day_int > 30:
                    day = '30'
            # Ensure month and day are always two digits
            return f"{year}-{month.zfill(2)}-{day.zfill(2)}"
        except ValueError:
            return date_str
    return date_str

df['date'] = df['date'].apply(fix_day)

In [16]:
# Get the unique values of the last part (day) of the 'date' column
print(df['date'].apply(lambda x: str(x).split('-')[2] if '-' in str(x) and len(str(x).split('-')) == 3 else None).unique())
print(len(df['date'].apply(lambda x: str(x).split('-')[2] if '-' in str(x) and len(str(x).split('-')) == 3 else None).unique()))

['22' '27' '13' '14' '17' '02' '10' '12' '11' '29' '04' '01' '16' '19'
 '03' '09' '24' '20' '26' '18' '23' '25' '06' '08' '31' '07' '28' '05'
 '30' '21' '15']
31

In [17]:
print("Date range:", df['date'].min(), "to", df['date'].max())

Date range: 1403-01-01 to 1404-12-30

In [18]:
sorted(df.date)[-10:]

['1404-04-31',
 '1404-04-31',
 '1404-04-31',
 '1404-04-31',
 '1404-04-31',
 '1404-04-31',
 '1404-04-31',
 '1404-04-31',
 '1404-04-31',
 '1404-12-30']

In [19]:
df['date'] = df['date'].replace('1404-12-30', '1404-04-30')

In [20]:
print("Date range:", df['date'].min(), "to", df['date'].max())

Date range: 1403-01-01 to 1404-04-31

In [21]:

# Read the date_table.csv which contains 'georgian' and 'jalali' columns
date_table = pd.read_csv('date_table.csv')

# Create a mapping from jalali to georgian
jalali_to_georgian = dict(zip(date_table['jalali'], date_table['georgian']))

# Replace values in the 'date' column of df using the mapping
df['date'] = df['date'].map(jalali_to_georgian).fillna(df['date'])

In [22]:
print("Date range:", df['date'].min(), "to", df['date'].max())

Date range: 2024-03-20 to 2025-07-22

In [23]:
# Function to parse and separate the list string
def parse_skills(skill_string):
    # Remove outer brackets and extract quoted strings
    cleaned = skill_string.strip("[]")
    elements = re.findall(r"'([^']*)'", cleaned)
    result = []
    for element in elements:
        if '(' in element:
            # Split into main term and parenthetical content
            main, rest = element.split(' (')
            rest = rest.rstrip(')')
            # Add main term and split parenthetical content
            result.append(main.strip())
            result.extend(x.strip() for x in rest.split(','))
        else:
            result.append(element.strip())
    return result

df['skills_required'] = df['skills_required'].apply(parse_skills)

In [25]:
df.skills_required

0       [CI/CD, Linux Administration, Monitoring Tools...
1                    [Excel, Presentation, Data Analysis]
2                          [Excel, Presentation, PowerBI]
3                                            [AI, Python]
4                    [Tableau, SQL, Presentation, Python]
                              ...
7195    [Machine Learning, Python, Deep Learning, Math...
7196                                       [iOS, Android]
7197    [Object-Oriented Programming, API Development,...
7198    [Excel, Tableau, Presentation, PowerBI, Machin...
7199          [Network Configuration, LAN/WAN Management]
Name: skills_required, Length: 7200, dtype: object

## Saving file to CSV

In [26]:
# df.to_csv('cleaned_jobs.csv', index=False)